<header class="px-3 pt-3 pb-2 mb-3">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <h3><a class="navbar-brand" href="/">Vinyl Steve</a></h3>
        <div class="d-flex align-items-center">
            <div class="w-100 me-3">
                {{#if isAdmin}}
                <span>Admin View</span>
                {{/if}}
            </div>

            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="{{userImage}}" alt="Me" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item icon-link icon-link-hover" href="my-rsvps">My RSVPs</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>