{{> navbar}}
<div class="container py-3">
    <h3>You have successfully registered for {{name}}</h3>

    <p>
        <a href="/home">Return to list of shows</a><br>
        <a href="/my-rsvps">Go to your RSVPs</a>
    </p>

</div>