{{> navbar}}
<div class="container py-3">
    <p>
        <h4>Your RSVP has bees successfully deleted.</h4>
    </p>

    <p>
        <a class="btn btn-success" href="/my-rsvps">Go to your RSVPs</a><br>
    </p>

    <p>
        <a class="btn btn-success" href="/home">Return to list of shows</a>
    </p>
</div>