{{> navbar}}

<div class="container-fluid align-items-center d-flex w-auto vh-100 p-3 flex-column">
    <p>
        <strong>This RSVP has bees successfully deleted.</strong>
    </p>

    <p>
        <a class="btn btn-primary" href="/admin/rsvp-list/{{showId}}">Back to RSVP List</a><br>
    </p>
</div>