{{> navbar}}
<div class="container py-3">
    <h4>Your RSVP has bees successfully deleted.</h4>

    <p>
        <a href="/home">Return to list of shows</a><br>
        <a href="/my-rsvps">Go to your RSVPs</a>
    </p>

</div>