    <header class="px-3 pt-3 pb-2 mb-3">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <h3><a class="navbar-brand" href="/">Vinyl Steve</a></h3>
            <nav class="nav nav-masthead justify-content-end float-md-end">
                <a class="nav-link active" aria-current="page" href="/login">Log In</a>
                <span class="nav-link">||</span>
                <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
            </nav>
        </div>
    </header>

    <br>

    <main class="p-3">
        <div class="container-fluid d-flex p-3 text-center mx-auto flex-column">
            <p class="lead">
                Welcome to the Record Riot online registration system! We're psyched to have this up and running to make it easier for YOU to book Record Riots. The system will also help me keep things in order and make fewer mistakes. You can always see what you've booked and I can see who has booked what - many fewer emails, phone calls and texts!
            </p>   
        </div>

        <div class="container-fluid d-flex p-3 mx-auto flex-column">
            <p class="lead">
                Just a few rules and regulations for easy Record Riot bookings:
            </p>

            <ul class="lead">
                <li>
                    This online system is only being used by ME. John Bastone's New England Record Riots will continue to be booked by contacting John directly. His phone number (call/text) is 914-409-3982. You can also email him at johnbastone@optonline.net. (Note: I don't take reservations for John, so please contact him directly to avoid confusion).
                </li>
                <br>
                <li>
                    The point of this system is to make things easier for YOU and also for ME. Online registration will enable me to have more time to promote Record Riots, which is always a challenge. That means I will NO LONGER accept emails, phone calls and texts for reservations. If you are technologically challenged, please ask me for instruction. We've made the whole process pretty easy.
                </li>
                <br>
                <li>
                    When you create your user ID/password, we're asking you to fill out an online form. Please give us as much information as you can. It's important that we have accurate contact information in case we need to get in touch with you.
                </li>
                <br>
                <li>
                    There is an option to pay when registering for dealer space. THIS IS NOT MANDATORY. I'm giving people the ability to pay because some dealers prefer paying upfront. I will continue my normal system of collecting the rent around 2 PM on the day of the show. But for dealers that worry about things like paying/confirming, paying ASSURES YOU THAT HAVE A SPOT. So consider that when booking. "MONEY TALKS," as we all know. 
                </li>
                <br>
                <li>
                    The system gives you the option to ask for special arrangements at a particular show: wall space, electricity, an extra chair, positioned away from the music, whatever. Feel free to ask for these things but remember that I can only do my best with each request. There are NO absolute promises from my end. We'll do our best to meet your needs.
                </li>
                <br>
                <li>
                    You can also get on the "waiting list" for any sold-out show. I will contact you if table space opens up. Since this often happens at the last minute, waiting list reservations are NOT binding. You can simply say "no" if you don't want to sell.
                </li>
                <br>
                <li>
                    We do rent tables & tents for outdoor Record Riots. Tables are $10 and tents are $25. You can request these in the system in the same field that you would ask for wall space (for example). Limited availability on both tables and tents. (Note: if you do not ask to rent a table for an outdoor event, I will assume that you are bringing you own. One table means a 6 foot tables. No side tables allowed unless you want to pay an extra $20.)
                </li>
                <br>
                <li>
                    Once you have booked a table or tables, you'll be able to see in your account which shows you have booked. You can also UNBOOK a show as well. Please be thoughtful of the promoter (ME). I understand that "shit happens" and that sometimes you need to cancel. But remember that abusing this privilege could lead to me asking for payment in advance for your tables. (I'm serious about this.)
                </li>
                <br>
                <li>
                    All future shows are not bookable at all times! I will have the ability to "open" shows for booking. Check back periodically to see which future shows are available for booking. (Example: if the Toms River Record Riot is next week, reservations for the FOLLOWING Toms River Record Riot might not be open until AFTER that show.)
                </li>
                <br>
                <li>
                    Record Riots reserves the right to alter ANY RESERVATION. If you don't hear anything from me within 48 hours, consider your reservation ROCK SOLID. 
                </li>
                <br>
                <li>
                    Endless thanks for your support! I'm looking forward to spending more PROMOTING Record Riots and less time KEEPING TRACK of reservations. 
                </li>
            </ul>

            <br>

            <p class="lead">
                See you soon - Steve.
            </p>
        </div>

        <div class="container-fluid d-flex p-3 text-center mx-auto flex-column">
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Log In To Begin</a>
            </p>

            <br>
            
            <p class="lead">
                New user? <a href="https://vinyl-steve-staging-106c12ca555c.herokuapp.com/signup">Sign up now!</a>
            </p>

            <br>
        </div>
    </main>
