    <header class="px-3 pt-3 pb-2 mb-3">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <h3><a class="navbar-brand rock-salt-regular" href="/">Vinyl Steve</a></h3>
            <nav class="nav nav-masthead justify-content-end float-md-end">
                <a class="nav-link active" aria-current="page" href="/login">Log In</a>
                <span class="nav-link">||</span>
                <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
            </nav>
        </div>
    </header>

    <br>

    <main class="p-3">
        <div class="container-fluid d-flex p-3 text-center mx-auto flex-column">
            <p class="lead">
                Welcome to the Record Riot online registration system! We're psyched to have this up and running to make it easier for YOU to book any Record Riot. By accessing your account page, YOU can always see what you've booked and WE can see who will be selling with us - many fewer emails, phone calls and texts!
            </p>   
        </div>

        <div class="container-fluid d-flex p-3 mx-auto flex-column">
            <p class="lead">
                Just a few guidelines/rules for easy Record Riot bookings:
            </p>

            <ul class="lead">
                
    
                <li>
                    The point of this system is to make things easier for YOU and also for US. That means we will NO LONGER accept emails, phone calls and texts for reservations. If you are technologically challenged, you CAN contact us for further instructions. We've made the website pretty simple!
                </li>
                <br>
                <li>
                    When you create your user ID/password, we're asking you to fill out an online form. Please provide as much information as you can. It's important that we have accurate contact information in case we need to get in touch with you. 
                </li>
                <br>
                <li>
                    There is an option to pay when registering for dealer space. THIS IS NOT MANDATORY. We're giving people the ability to pay because some dealers prefer paying upfront. We will continue our normal system of collecting the rent around 1:30-2:00 PM on the day of the show.  
                </li>
                <br>
                <li>
                    We give you the option to ask for special arrangements at a particular show: wall space, electricity, an extra chair, positioned away from the music, whatever---in "dealer notes." Feel free to ask for these things but remember that we can only do our best with each request. (Dealer notes are NOT visible to anyone other than us, so that communication is private.)
                </li>
                <br>
                <li>
                    You can also get on the "waiting list" for any sold-out show. We will contact you if table space opens up. Since this often happens at the last minute, waiting list reservations are NOT binding from the dealer's end. You can simply say "no" if you don't want to sell.
                </li>
                <br>
            
            
                <li>
                    Once you have booked a table or tables, you'll be able to see IN YOUR ACCOUNT which shows you have booked. You will also receive an email confirmation for your table(s).You can also UNBOOK a show if necessary. We understand that circumstances change, but please be thoughtful and do not abuse the cancellation privilege. If you cancel, please go INTO YOUR ACCOUNT and click on the "X" to cancel---very important so we know what's going on!
                </li>
                <br>
                <li>
                    Please note that all future shows are not bookable at all times! Our back office has the ability to "open" shows for booking on the website. Check back periodically to see which future shows are available for booking. Shows are added/opened for booking quite often!
                </li>
                <br>
                <li>
                    Record Riots reserves the right to alter ANY RESERVATION. If you don't hear anything from us within 48 hours, consider your reservation ROCK SOLID. 
                </li>
                <br>
                <li>
                    Endless thanks for your support! We're looking forward to spending more PROMOTING Record Riots and less time KEEPING TRACK of reservations. 
                </li>
            </ul>

            <br>

            <p class="lead">
                See you soon - Steve & John.
            </p>
        </div>

        <div class="container-fluid d-flex p-3 text-center mx-auto flex-column">
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Log In To Begin</a>
            </p>

            <br>
            
            <p class="lead">
                New user? <a href="https://vinyl-steve-staging-106c12ca555c.herokuapp.com/signup">Sign up now!</a>
            </p>

            <br>
        </div>
    </main>

{{> footer}}

