<div>
    <h3>Payment Processing</h3>
</div>

<script>
    const session_id = '{{session_id}}';
    const session = fetch(`/session_status?session_id=${session_id}`);
    if (session.status == 'open') {
    // Remount embedded Checkout
    fetch('/my-rsvps', {
        method: 'POST',
        body: {
            message: 'Sorry, your payment could not be completed, please try again.'
        }
    })
    } else if (session.status == 'complete') {
    // Show success page
    fetch('/payment-confirmation');
    // Optionally use session.payment_status or session.customer_email
    // to customize the success page
    }
</script>