{{> navbar}}

<main class="px-3">
    <div class="container-fluid d-flex align-items-center w-auto vh-100 p-3 flex-column">
        <p>
            <strong>Thank you for your payment!</strong>
        </p>

        <p>
            <a class="btn btn-primary" href="/my-rsvps">Go to your RSVPs</a><br>
        </p>

        <p>
            <a class="btn btn-primary" href="/home">Return to list of shows</a>
        </p> 
    </div>
</main>

{{> footer}}
