<div class="container align-items-center d-flex w-auto vh-100 p-3 flex-column">
    <br>
    
    <p>
        We will not share your info with anyone else, ever.
    </p>
    
    <p>
        <a class="btn btn-primary" href="/">Return</a><br>
    </p>
</div>