<div class="container align-items-center d-flex w-auto vh-100 p-3 flex-column">
    <br>

    <p>
        How we access, use and store your data:
        <ul>
            <li>
                All user authentication is done via Auth0 (https://auth0.com/). This service accesses, uses and stores your name, email address and profile image internally for user verification purposes.
            </li>
            <li>
                Aside from that, we will not share your info with anyone else, ever.
            </li>
            <li>
                For any questions you may contact us at recordshowmania@gmail.com.
            </li>
        </ul>
    
    <p>
        <a class="btn btn-primary" href="/">Return</a><br>
    </p>
</div>