<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h3>Sign Up Form</h3>
    <p>
        <div class="form-text text-white">Fields with * are required</div>
    </p>

    <hr>

    <form class="mb-3" action="/save-dealer-info" method="post">
        <input type="hidden" name="image" value="{{image}}">
        <label for="name">Email *</label>
        <div class="form-group mb-3">
            <input type="text" name="email" value="{{email}}" readonly>
        </div>

        <label for="name">First Name *</label>
        <div class="form-group mb-3">
            <input type="text" name="first_name" required>
        </div>

        <label for="name">Last Name *</label>
        <div class="form-group mb-3">
            <input type="text" name="last_name" required>
        </div>
        
        <label for="name">Company Name</label>
        <div class="form-group mb-3">
            <input type="text" name="company_name">
        </div>

        <label for="name">Address *</label>
        <div class="form-group mb-3">
            <input type="text" name="address" required>
        </div>

        <label for="name">City *</label>
        <div class="form-group mb-3">
            <input type="text" name="city" required>
        </div>

        <label for="name">State *</label>
        <div class="form-group mb-3">
            <input type="text" name="state" required> 
        </div>

        <label for="name">Zip *</label>
        <div class="form-group mb-3">
            <input type="text" name="zip" required>
        </div>

        <label for="name">Phone *</label>
        <div class="form-group mb-3">
            <input type="text" name="phone" required>
        </div>

        <label for="name">Social Media Accounts</label>
        <div class="form-group mb-3">
            <textarea name="socialmedia" cols="30" rows="10"></textarea> 
        </div>
        
        <label for="name">Website</label>
        <div class="form-group mb-3">
            <input type="text" name="website">
        </div>
        
        <label for="name">Can you help us promote Record Riots? Please explain.</label>
        <div class="form-group mb-3">
            <textarea name="help" cols="30" rows="10"></textarea> 
        </div>

        <div class="form-group mb-3">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>

{{> footer}}